#npm
node_modules/

#bower

bower/angular/.bower.json
bower/angular/angular-csp.css
bower/angular/angular.min.js.gzip
bower/angular/bower.json
bower/angular/package.json
bower/angular/README.md

bower/angular-animate/.bower.json
bower/angular-animate/bower.json
bower/angular-animate/package.json
bower/angular-animate/README.md
