#npm
node_modules/

#bower
bower/amazeui/dist/js/
bower/amazeui/dist/.gitkeep
bower/amazeui/dist/AmazeUI-1.0.0-beta2.zip
bower/amazeui/fonts/
bower/amazeui/js/
bower/amazeui/less/
bower/amazeui/widget/
bower/amazeui/.bower.json
bower/amazeui/bower.json
bower/amazeui/CHANGELOG.md
bower/amazeui/gulpfile.js
bower/amazeui/LICENSE.md
bower/amazeui/package.json
bower/amazeui/README.md
bower/amazeui/README_EN.md

bower/angular/.bower.json
bower/angular/angular-csp.css
bower/angular/angular.min.js.gzip
bower/angular/bower.json
bower/angular/package.json
bower/angular/README.md

bower/angular-animate/.bower.json
bower/angular-animate/bower.json
bower/angular-animate/package.json
bower/angular-animate/README.md

bower/font-awesome/less/
bower/font-awesome/scss/
bower/font-awesome/.bower.json
bower/font-awesome/.gitignore
bower/font-awesome/.npmignore
bower/font-awesome/bower.json